* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Montserrat", "sans-serif";
}

a {
    text-decoration: none;
    color: black;
}

.app {
    width: 100%;
    display: flex;
}

.app-layout {
    width: 100%;
}

.app-header {
    display: flex;
    padding: 15px 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.profile-card-component {
    width: 120px;
    background-color: #ddd;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.profile-card-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-menu i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
}

.profile-card-menu ul {
    display: none;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: #ddd;
    border-radius: 10px;
    list-style: none;
    width: 120px;
    padding: 10px;
}

.profile-card-menu ul.active{
    display: block;
}

.profile-card-menu ul li {
    padding: 5px;
    transition: all 0.3s;
    font-size: 20px;
    font-weight: 500;
}

.profile-card-menu ul li:hover {
    background-color: #f0f0f0;
}