nav {
    position: relative;
    background-color: #dddddd;
    min-height: 100vh;
    width: 15vw;
}

.navbar-layout {
    width: 100%;
    padding: 50px 30px;
}

.navbar-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-menu {
    width: 100%;
}

.navbar-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.navbar-logo h2 {
    font-size: 30px;
    font-weight: 700;
}

.navbar-main-menu {
    width: 100%;
}

.navbar-main-menu h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.navbar-main-menu ul {
    width: 100%;
    list-style: none;
}

.navbar-main-menu ul li {
    width: 100%;
    padding: 10px 10px;
    transition: all 0.3s;
}

.navbar-main-menu ul li:hover {
    background-color: #f0f0f0;
}

.navbar-main-menu ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.navbar-main-menu ul li i {
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: 500;
}

.navbar-main-menu ul li p {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

nav hr {
    margin: 40px 0;
    background-color: #fff;
    border: 1px solid #fff;
}

.navbar-secondary-menu {
    width: 100%;
}

.navbar-secondary-menu h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.navbar-secondary-menu ul {
    width: 100%;
    list-style: none;
}

.navbar-secondary-menu ul li {
    width: 100%;
    padding: 10px 10px;
    transition: all 0.3s;
}

.navbar-secondary-menu ul li:hover {
    background-color: #f0f0f0;
}

.navbar-secondary-menu ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.navbar-secondary-menu ul li i {
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: 500;
}

.navbar-secondary-menu ul li p {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.searchbar {
    width: 50%;
}

.searchbar form {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row-reverse;
}

.searchbar form input {
    height: 40px;
    border-radius: 0 20px 20px 0;
    padding: 20px 20px 20px 0;
    border: 1px solid #ddd;
    outline: none;
    width: 93%;
    position: relative;
    border-left: none;
    font-size: 16px;
}

.searchbar form button{
    width: 7%;
    position: relative;
    border: 1px solid #ddd ;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    cursor: pointer;
    border-right: none;
}

.searchbar form button:hover{
    background-color: #f0f0f0;
}

.searchbar form button i{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}